@import "../../scss/base.scss";

.Nav {
  $self: &;

  left: 0;
  padding: 16px 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  a {
    color: $color-black;
    text-decoration: none;
  }

  &--light a {
    color: $color-white;
  }

  &-button {
    @include for-size(l) {
      display: none;
    }
  }

  &-list {
    display: none;
    grid-column: 1/-1;
    justify-content: center;
    list-style: none;
    padding: 0;

    @include for-size(l) {
      display: flex;
    }
  }

  &-item {
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: 300;
    line-height: 2;
    margin-right: $padding-small;
    transition: transform 0.4s ease-in-out;

    &:active,
    &:focus,
    &:hover {
      transform: translateY(-5px);
    }

    &:first-child {
      border-bottom: 3px solid $color-primary;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
