@import '../base/scss/base.scss';

.StyleGuide {
  position: relative;

  &-colors {
    display: flex;
    justify-content: center;
  }

  &-bg {
    background-color: $color-black;
  }

  &-main-title {
    background-color: $color-black;
    padding: 40px;
    text-align: center;
  }

  &-title {
    border-bottom: 2px solid $color-black;
    grid-column: 1/-1;
    line-height: 2.5;
    margin: 50px 0 40px;
    text-align: center;
  }

  &-subtitle {
    grid-column: 1/-1;
    margin: 0 0 40px;
    text-align: center;
  }

  &-wrapper {
    grid-column: 1/-1;
  }

  &-column {
    background-color: $color-terciary;
    height: 150px;
  }

  &-swatch {
    background-color: $color-black;
    height: 60px;
    margin-bottom: 30px;
    width: 60px;

    &--1 {
      background-color: $color-white;
      border: 2px solid $color-black;
      height: 56px;
      width: 56px;
    }

    &--2 {
      background-color: $color-black;
    }

    &--3 {
      background-color: $color-primary;
    }

    &--4 {
      background-color: $color-secondary;
    }

    &--5 {
      background-color: $color-terciary;
    }

    &--6 {
      background-color: $color-cuaternary;
    }
  }

  &-typography {
    background-color: $color-primary;
    grid-column: 1/-1;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
  }

  h1,
  h2 {
    &.StyleGuide-heading {
      background-color: $color-black;
      padding: 12px;
    }
  }

  &-heading {
    grid-column: 1/-1;
    margin: 20px auto;
  }

  &-ctas {
    text-align: center;

    .Cta {
      margin: 0 30px 30px 0;
    }
  }

  &-product-1,
  &-product-2,
  &-product-3 {
    margin-bottom: $padding-small;
  }

  &-product-1 {
    grid-column: 1/-1;

    @include for-size(m) {
      grid-column: 1/5;
    }
  }

  &-product-2 {
    grid-column: 1/-1;

    @include for-size(m) {
      grid-column: 5/9;
    }
  }

  &-product-3 {
    grid-column: 1/-1;

    @include for-size(m) {
      grid-column: 9/13;
    }
  }
}