@import "../scss/base.scss";

.StyleGuide {
  position: relative;

  &__section {
    grid-column: 1/-1;
    margin: 40px 0;

    &-subtitle {
      margin: 20px 0;
    }
  }

  &__main-title {
    background-color: $color-black;
    grid-column: 1/-1;
    margin: 0 0 20px;
    padding: 40px 0;
    text-align: center;
  }

  &__wrapper {
    min-height: 100px;
    position: relative;
  }

  &__color {
    background-color: $color-black;
    margin-top: 30px;
    padding: 25px;

    &--1 {
      background-color: $color-white;
      border: 2px solid $color-black;
    }

    &--2 {
      background-color: $color-black;
    }

    &--3 {
      background-color: $color-primary;
    }

    &--4 {
      background-color: $color-secondary;
    }

    &--5 {
      background-color: $color-terciary;
    }

    &--6 {
      background-color: $color-cuaternary;
    }
  }

  &__typography {
    &-title {
      font-size: 30px;
    }

    &-heading,
    &-title {
      grid-column: 1/-1;
      margin: 20px 0;
    }

    h1,
    h2 {
      background-color: $color-black;
      padding: 8px;
    }
  }

  &__column {
    background-color: $color-terciary;
    color: $color-black;
    font-family: $font-primary;
    font-size: 30px;
    padding: 100px 0;
    text-align: center;
  }

  &__ctas {
    .Cta {
      display: inline-block;
      margin: 20px 40px 20px 0;
    }
  }
}
